
@{
    ViewData["Title"] = "Results";
}
@model User

<h1 class="Center">@ViewData["Title"]</h1>

    <br>
    <div class="ResultsContainer">
        <H2 class="Center">Submitted Info</H2> <br>
        <div class="Flex">
            <h3>Name:  @Model.Name</h3>
        </div>
        <div class="Flex">
            <h3>Language:  @Model.Language</h3>
        </div>
        <div class="Flex">
            <h3>Location:  @Model.Location</h3>
        </div>
        <div>
            <h3 class="Comments">Comments:  @Model.Comments</h3>
            
        </div>
    </div>